# Archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribución / empaquetado
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Archivos de QGIS
*.qgs~
*.qgz~

# Archivos temporales del sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de log
*.log
